<div class="row justify-content-center">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="{{post.url}}" class="lead"><strong>Title: </strong>{{post.title}}</a>
    <p><strong>Description: </strong>{{post.summary}}</p>
    <p><strong>Author: </strong>{{post.author.username}}</p>
  </div>
</div>

<form action="/posts/{{post._id}}/comments" method="post">
  <textarea class='form-control' name="content" placeholder="Comment"></textarea>
  <div class="text">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>



<div class="row justify-content-center">
  <div class="col-sm-6 col-sm-offset-3">
    <strong>Comments: </strong> 
    <br>
    <br>
    {{#each post.comments}} 
      <p>{{this.content}}</p>
      <p class="text-right">{{this.author.username}}</p>
    {{/each}}
  </div> 
</div>